<!-- Обернуть всё в класс а потом дивами распределить картинки и сделать ссылками на result[:url]-->
 
<h3>Картинки</h3>
<% results.each do |result| %>
  <img src="<%=result[:image_url]%>" width="132px" height="132px" />
<%#= image_tag(result[:image_url], :size => "132x132", :border => 0) %>
<% end %>