<h2><a href="http://pics.sputnik.ru/">Картинки</a></h2>
<% unless results.blank? %>
  <%= render :partial => 'pic', :collection => results %>
<% else %>
  <%= render :partial => "page_no_results" %>
<% end %>
