<div class="l-projects l-projects_shadow">
<h2 class="b-head b-head_blogs">
  <a class="b-head__link" href="http://blogs.sputnik.ru/">Блоги</a>
</h2>
<% results.each do |result| %>
  <a href="<%= result[:url].text %>"><%= result[:title].text %></a>
  <br /><%= result[:snippet].text.html_safe %>
  <br /><%= result[:datetime].text.html_safe %>
  <br />
<% end %>
</div>
