<div class="l-projects l-projects_shadow" algin="left">
<b><label style="color:silver;font-size:24px;">Новости</label></b><br><br>
<div class="b-project b-project_news">
  <ol class="b-output">
    <% results.each do |r| %>
      <li class="b-output__item">
      <a class="b-output__head" href="<%= r[:url].text %>"><%= r[:title].text %></a><br>
      <div class="b-output__snippet">
      <%= r[:snippet].text.html_safe %>
      </div>
      </li>
      <br>
    <% end %>
  </ol>
</div>
</div>