<!-- Эта страница по идее появиться не должна -->

<h3>Прочее</h3>
<%= results.count %>

<% results.each do |result| %>
  <a href="<%= result[:url].text %>"><%= result[:title].text.html_safe %></a>
<% end %>
