<!-- Обернуть всё в класс а потом дивами распределить картинки и сделать ссылками на result[:url]-->
<div class="l-projects l-projects_shadow">  
<div class="l-projects l-projects_shadow">
  <h2 class="b-head b-head_pics">
    <a class="b-head__link" href="http://pics.sputnik.ru/">Картинки</a>
    <img src="/assets/images/img_logo.png" />
  </h2>
  
  <% results.each do |result| %>
    <div class="pic">
      <a href="<%= result[:url].text %>" target="_blank"><img src="<%=result[:image_url]%>" width="100px" height="100px" style="margin-left:10px;margin-right:10px;box-radius:10px;"/></a>
    </div>
  <% end %>

</div>