<!-- Обернуть всё в класс а потом дивами распределить картинки и сделать ссылками на result[:url] -->
<h3>Видео</h3>

<% results.each do |result| %>
  <img src="<%=result[:image_url]%>" width="132px" height="132px" />
<% end %>
