<h2><a href="javascript:void(0);">Новости</a></h2>
<% unless results.blank? %>
  <%= render :partial => 'result', :collection => results %>
<% else %>
  <%= render :partial => "page_no_results" %>
<% end %>
