<h2 class="b-head b-head_internet">
  <a class="b-head__link" href="http://0.sputnik.ru/">Интернет</a>
</h2>

<% results.each do |result| %>
  <a href="<%= result[:url].text %>"><%= result[:title].text %></a>
  <br /><%= result[:snippet].text.html_safe %>
  <br /><%= result[:datetime].text.html_safe %>
  <br />
<% end %>
