<h2><a href="http://blogs.sputnik.ru/">Блоги</a></h2>
<% unless results.blank? %>
  <%= render :partial => 'result', :collection => results %>
<% else %>
  <%= render :partial => "page_no_results" %>
<% end %>
