<% content_for :javascript do %>
<% end %>


<% content_for :content do %>
<% if @section_code == 31 %>
    <div class="b-project b-project_news">
		<ol class="b-output">
	<% @results.each do |r| %>
			<li class="b-output__item">
				<a href="<%= r[:url].text %>"><%= r[:title].text %></a>
			</li>
	<% end %>
		</ol>
	</div>
<% end %>
<% end %>

<%= render :template => 'layouts/application' %>
	