<% content_for :javascript do %>
<% end %>


<% content_for :content do %>
	<% @results.each do |r| %>
		<center><a href="<%= r[:url].text %>"><%= r[:title].text %></a></center><br/>
	<% end %>
<% end %>

<%= render :template => 'layouts/application' %>
	