
<% content_for :javascript do %>
	<%= javascript_include_tag 'mousewheel.js' %>
	<%= javascript_include_tag 'cloud-carousel.js' %>
	<%= javascript_include_tag 'welcome.js' %>
<% end %>


<% content_for :content do %>
<!-- This is the container for the carousel. -->
<div data-role="page">
	<div data-role="content">
		<div class="light-opacity">
			<table style="height:102px">
				<tr>
					<td>
					<div class="logo"><a class="logo" href="http://3d.sputnik.ru/" title="Спутник"></a></div>
					</td>
					<td>
						<input id="search_text" type="text" placeholder="Searh..." style="width:100px;height:30px;"/>
					</td>
					<td>
						<input type="button" onClick="search()" value="Найти" class="submit-button"/>
					</td>
				</tr>
			</table>
		</div>
		<div id = "carousel1" style="position:relative;width:1024px;height:512px;background:#fff;overflow:scroll;z-index:0;display:none;">        
		    <!-- All images with class of "cloudcarousel" will be turned into carousel items  -->
		    <!-- You can place links around these images -->
		</div>
	</div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>
