<!-- This is the container for the carousel. -->

<div data-role="page">
	<div data-role="content">

		<table style="z-index:10;position: fixed;top: 50%;left: 50%;margin-top: -50px;margin-left: -100px;">
			<tr>
				<td>
					<input type="button" onClick="search()" />
				</td>
				<td>
					<input id="search_text" type="text" placeholder="Searh..." style="width:100px;height:30px;"/>
				</td>
			</tr>
		</table>
		
		
		<div id = "carousel1" style="position:relative;width:1024px;height:512px;background:#fff;overflow:scroll;z-index:0;">            
		    <!-- All images with class of "cloudcarousel" will be turned into carousel items  display:none;-->
		    <!-- You can place links around these images -->
		    <img class = "cloudcarousel" src="apple_dev.png" alt="Flag 1 Description" title="Flag 1 Title" />
		    <img class = "cloudcarousel" src="apple_site.png" alt="Flag 2 Description" title="Flag 2 Title" />
		    <img class = "cloudcarousel" src="ibooks.png" alt="Flag 3 Description" title="Flag 3 Title" />
		    <img class = "cloudcarousel" src="apple_site.png" alt="Flag 4 Description" title="Flag 4 Title" />
		</div>
	</div>
</div>


