
<% content_for :javascript do %>
	<%= javascript_include_tag 'mousewheel.js' %>
	<%= javascript_include_tag 'cloud-carousel.js' %>
	<%= javascript_include_tag 'welcome.js' %>
<% end %>


<% content_for :content do %>
<!-- This is the container for the carousel. -->
<div data-role="page">
	<div data-role="content">
		<div class="light-opacity" id="theSearch">
			<table style="height:102px">
				<tr>
					<td style="padding-left:30px;margin-left:30px;">
						<div class="logo"><a class="logo" href="javascript:document.location.reload(true);" title="Спутник"></a></div>
					</td>
					<td style="width:100%;padding-right:20px;margin-right:20px;">
						<div class="search-form">
							<div class="search-block">
								<input id="search_text" class="search-input" type="text" placeholder="Поиск..." style="width:100%;"/>
							</div>
						</div>
					</td>
					<td style="padding-right:30px;margin-right:30px;">
						<div class="submit-block">
							<input type="button" onClick="search()" value="Найти" class="submit-button"/>
						</div>
					</td>
				</tr>
			</table>
		</div>
    <div id = "1" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "3" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "5" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "7" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "9" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "11" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
    <div id = "13" style="z-index:2500;position:relative;top:10%;display:none;">
    
    </div>
		<div id = "carousel1"   style="position:relative;width:1024px;height:512px;overflow:scroll;z-index:5;display:none;background-image:url(/assets/images/background.gif);">        
		    <!-- All images with class of "cloudcarousel" will be turned into carousel items  -->
		    <!-- You can place links around these images -->
		</div>
    
	</div>
</div>
<div id="spinner"><img src="/assets/spinner.gif"></div>
<% end %>

<%= render :template => 'layouts/application' %>
