
<% content_for :javascript do %>
	<%= javascript_include_tag 'mousewheel.js' %>
	<%= javascript_include_tag 'cloud-carousel.js' %>
	<%= javascript_include_tag 'welcome.js' %>
<% end %>


<% content_for :content do %>
<!-- This is the container for the carousel. -->
<div data-role="page">
	<div data-role="content">
			<i class="light-opacity"></i>
			<div class="light-search">
				<div class="sputnik-logo">
					<a class="logo" href="http://3d.sputnik.ru/" title="Спутник"></a>
				</div>
				<div class="submit-block"><input class="submit-button" onClick="search()" type="submit" value="Найти"></div>
				<div class="search-form">
					<div class="search-block">
						<input id="search_text" class="search-input" autofocus="autofocus" id="search-form" type="text" value="" spellcheck="false" maxlength="512" name="q" autocomplete="off" style="width: 100%; ">
					</div>
					<div class="suggest">
						<ul class="suggest-index" role="listbox" style="top: 38px; left: 14px; z-index: 999; display: none; "></ul>
						<div class="suggest-tander">
							<i class="suggest-i"></i>
						</div>
					</div>
				</div>
			</div>

		
		
		<div id = "carousel1" style="position:relative;width:1024px;height:512px;background:#fff;overflow:scroll;z-index:0;display:none;">        
		    <!-- All images with class of "cloudcarousel" will be turned into carousel items  -->
		    <!-- You can place links around these images -->
		</div>
	</div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>
