.b-project {
	float: left;
	overflow: hidden;
}
.b-output {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.b-output__item {
	margin-bottom: 10px;
	display: block;
}
.b-head__link:hover {
	color: #333;
}
.b-output__snippet {
	padding: 0;
}
.b-output__head {
	margin: 0;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	position: relative;
}




.b-head__link {
  color:silver;
  text-decoration: none;
  font-size: 24px;
}
a {
  color: #007CFF;
  text-decoration: underline;
}

.b-head {
 
 
}

.b-head_pics {
  background-position: 0 -18px;
}
.b-head_video {
  background-position: 0 -90px;
}
.b-head_news {
  background-position: 0 -41px;
}
.b-head_blogs {
  background-position: 0 -66px;
  /*margin-left: 25px;*/
}
.b-head_internet {
  background-position: 0 7px;
}