.ui-btn-text{
	display:none;
}
.ui-loader{
	display:none;
}
.submit-button{
	width:90px;
	height:40px;
	margin:0;
	padding:0;
	font:normal 18px/40px Arial, Helvetica, sans-serif;
	color:#555;
	background:none transparent;
	display:block;
	cursor:pointer;
	border:0 none;
	outline:0 none;
}

.light-opacity{
	z-index:10;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
	width:830px;
	height:102px;
	margin-top:-51px;
	background:#eee;
	border-radius:9px;
	filter:alpha(opacity=78);
	opacity:0.8;
	box-shadow:0 4px 18px rgba(0,0,0,0.75); 
}