body, html {
	font: 12px/1.4 arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(/assets/images/background.gif);
}
.b-project {
	float: left;
	overflow: hidden;
}
.b-output {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.b-output__item {
	margin-bottom: 10px;
	display: block;
}
.b-head__link:hover {
	color: #333;
}
.b-output__snippet {
	padding: 0;
}
.b-output__head {
	margin: 0;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	position: relative;
}




.b-head__link {
  color:silver;
  text-decoration: none;
  font-size: 24px;
}
a {
  color: #007CFF;
  text-decoration: underline;
}

.b-head {
 
 
}


.l-projects {
	width:630px;
  height:630px;
	margin: 5px 5px 5px 5px;
	overflow: hidden;
	position: relative;
}

.l-projects_shadow {
	padding: 0;
	background: #f1f1f1;
	position:relative;
	left:50%;
	padding-right: 20px;
	padding-left: 10px;
	text-decoration: none;
	margin-left:-315px;
	top:0;
	box-shadow: 0px 0px 13px rgba(0, 0, 0, .3);
}

.b-head_pics {
  background-position: 0 -18px;
}
.b-head_video {
  background-position: 0 -90px;
}
.b-head_news {
  background-position: 0 -41px;
}
.b-head_blogs {
  background-position: 0 -66px;
  /*margin-left: 25px;*/
}
.b-head_internet {
  background-position: 0 7px;
}

.pic {
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 33%;
}

#spinner {
  z-index:4;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -283px;
  width:567px;
  margin-top:70px;
  display: none;
}



